<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<center>
		<p> 
			<%= link_to "Sign Up", signup_path , class: "btn btn-primary" %>
			<%= link_to "Log In", login_path , class: "btn btn-primary" %>
		</p>
	</center>	
</div>
